.fullpage{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 3em 0;
}


/* This is navbar at top */
.navbar-inverse {
  width: 100%;
  height: 136px;
  background-color: #5097a4 !important;
  margin-bottom: 0px;
  margin-top: 0px;
  border: 1px dashed;
}


/* This is the logo */
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-family: Bebas;
  font-size: 30px;
}

/* These are the elements on the top right */
.navbar-inverse .navbar-nav > li > a {
  font-family: Avenir Next;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

/*This is footer */
.navbar-default {
    background-color: #ffffff;
    font-family: Avenir Next;
    font-weight: 600;
    font-size: 18px;
    border: 0px;
}
